@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?9v4i6r');
    src:  url('../fonts/icomoon.eot?9v4i6r#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?9v4i6r') format('truetype'),
      url('../fonts/icomoon.woff?9v4i6r') format('woff'),
      url('../fonts/icomoon.svg?9v4i6r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

@keyframes appear {
    0% {
        visibility: hidden;   
        transform: scale(0);
    }

    100% {
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes disappear {
    0% {
        visibility: visible;
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes bgFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes bgFadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadetitle{
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0;
        /* transform: translate(-50%,-50%); */
    }
}

@keyframes dolphinUp {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1),translateY(-5px);
    }
}


.ani-show {
    animation: appear 1s ease forwards;
}

.ani-dishow {
    animation: disappear 1s ease forwards;
}

.leftOrigin {
    transform-origin: left center;
}

.rightOrigin {
    transform-origin: right center;
}

.bgTitleIn {
    animation: bgFadeIn .8s ease forwards;
}

.bgTitleOut {
    animation: bgFadeOut .3s ease forwards;
}


.bigtitle {
    animation: bgFadeIn  1s forwards;
}

.dolUp {
    display: block;
    animation: dolphinUp 2s ease forwards;
    transform-origin: bottom;
}


article {
    width: 100%;
    background-color: #2d5d72;
    padding: 50px 0;
}

audio {
    display: none;
}

aside {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}

aside ul {
    position: relative;
}

aside ul li {
    display: block;
    padding: 10px;
    height: 50px;
    background-color: rgba(255,255,255,.5);
}

aside ul li:hover {
    background-color: rgba(255,255,255,.7);
}

aside ul li img {
    height: 100%;
    object-fit: contain;
}

header {
    /* position: relative; */
    display: block;
    width: 100%;
    overflow: hidden;
    background: #2d5d72;
}

p span {
    color: #d8ff3e;
}

section {
    width: 80%;
    margin: 0 auto;
}

footer {
    padding: 50px 0;
    color: black;
    font-size: 12px;
    background-color: #fff;
}

figure {
    margin: 2em 0;
}

figcaption {
    font-size: 12px;
    text-align: center;
}

div[class^="bg"] {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

div[class^="bg"] div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.audio {
    position: absolute;
    top: 0;
    left: -12%;
    /* display: inline-block; */
    width: 10%;
    min-width: 25px;
    height: 60px;
    background: transparent url("../images/audio.png") no-repeat;
    background-size: contain;
}

.bgOne {
    background: url('../images/part1.png') no-repeat;
    z-index: -4;
    background-position: center bottom;
}

.bgOne div {
    opacity: 0;
    background: url('../images/part1-title.png') no-repeat;
    background-position: center bottom;
}

.bgTwo {
    background: url('../images/part2.png') no-repeat;
    z-index: -3;
    background-position: center top;
}

.bgTwo div {
    background: url('../images/part2-title.png') no-repeat;
    opacity: 0;
    background-position: center top;
}

.bgThree {
    background: url('../images/part3.png') no-repeat;
    display: none;
    z-index: -2;
    background-position: center top;
}

.bgThree div {
    background: url('../images/part3-title.png') no-repeat;
    opacity: 0;
    background-position: center top;
}

.bgFour {
    background: url('../images/part4.png') no-repeat;
    display: none;
    z-index: -1;
    background-position: center bottom;
}

.bgFour div {
    background: url('../images/part4-title.png') no-repeat;
    opacity: 0;
    background-position: center bottom;
}

button[class^="btn"] {
    position: absolute;
    width: 10%;
    min-width: 10px;
    max-width: 50px;
    height: 50px; 
    top: 250px;
    color: #fdfff9;
    background-color: rgba(255,255,255,.5);
}

.btn-l {
    display: none;
    left: -70px;
}

.btn-l::before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 30px;
}

.btn-r {
    right: -70px;
}

.btn-r::before {
    content: "\e901";
    font-family: 'icomoon';
    font-size: 30px;
}

.cover {
    background: url("../images/head.jpg");
    background-size: cover;
    background-position: center right;
    position: relative;
    display: block;  
    width: 100%;
    height: calc(100% - 200px);
    /* height: 800px; */
    overflow: hidden;
    margin: 0 auto;
}

.cover div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/title.png") no-repeat;
    background-size: cover;
    background-position: center right ;
    text-align: center;
}

.cover div h1 {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 10%;
    font-size: 2rem;
    transform: translate(-50%,0);
    font-weight: 400;
    letter-spacing: 30px;
}

.choosed {
    background-color: #55899e;
}

div[class^="intro-word"] {
    position: absolute;
    top: 700px;
    padding: 100px 0;
    z-index: 1;
}

div[class^="intro-word"] img {
    display: block;
    width: 90%;
}

.end img {
    width: 100%;
}

.ending {
    margin: 100px 0;
    padding-left: 50%;
    line-height: 50px;
}

.endBg {
    background: url('../images/bgend.JPG') no-repeat;
    display: none;
    z-index: -1;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right bottom;
}

.endBg img {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 5%;
}

.hd {
    width: 100%;
}

.intro-p1 {
    position: relative;
    background:url(../images/intro1.png) no-repeat;
    background-size: contain;
    height: 700px;
}

.intro-p2 {
    position: relative;
    background:url(../images/intro2.png) no-repeat;
    background-size: contain;
    height: 700px;
    background-position: right;
}

.intro-word1 div img {
    float: right;
    padding: 20px 0 0;
    visibility: hidden;
}

.intro-word2 div img {
    width: 70%;
    padding-left: 15%;
    visibility: hidden;
} 

.invisible{
    opacity: 0;
}

.insurance div:hover::after {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 5px #5f5f5f;
}

.insurance div:nth-child(1):hover:after{
    content: "68%";
}

.insurance div:nth-child(2):hover:after{
    content: "99.8%";
}

.insurance div:nth-child(3):hover:after{
    content: "100%";
}

.middle {
    text-indent: 0;
    text-align: center;
}

.nav {
    position: relative;
}

.nav img {
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.nav img:first-of-type {
    position: static;
}

.situation {
    position: relative;
    height: 6300px;
}

.situ-content {
    position: absolute;
    width: 100%;
    top: 750px;
    z-index: 1;
    background-color: transparent;
}

.situ-content div {
    display: flex;
    align-items: center;
    width: 80%;
    height: 200px;
    margin: 0 auto 750px;
    background-color: rgba(45,93,114,.5);
}

.situ-content p {
    vertical-align: middle;
    padding: 50px 30px;
    
}

.situ-content p span {
    color: #d8ff3e;
}

.title {
    /* height: 100%; */
    background-color: transparent;
    text-align: center;
}

.text {
    margin: 10px auto 20px;
    width: 60%;
}

.text h3 {
    font-size: 18px;
    margin: 50px 0 10px;
    padding: 20px 0;
}

.text p {
    margin-bottom: 30px;
}

.text img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.tools {
    position: relative;
}

.tools a {
    position: relative;
    display: block;
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
}

.tools img { 
    position: relative;
    transform: translate(0,-50%); 
    display: block;
    width: 100%;
}

.tools a p {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 40px;
    opacity: 0;
}

.tools a:hover p {
    opacity: 1;
}

.work-situation,.insurance {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
}


.work-situation div,.insurance div{
    float: left;
    position: relative;
}

.work-situation div {
    width: 240px;
}


.work-situation div:hover::after {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 5px #5f5f5f;
}

.work-situation div:nth-child(1):hover:after{
    content: "100%";
}
.work-situation div:nth-child(2):hover:after{
    content: "88.7%";
}
.work-situation div:nth-child(3):hover:after{
    content: "75.5%";
}
.work-situation div:nth-child(4):hover:after{
    content: "81.5%";
}
.work-situation div:nth-child(5):hover:after{
    content: "51.7%";
}



